@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins/Poppins-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
}
